.header{
    background-color: none;
    width: 1920px;
    align-items: end;
    margin: 0%;

}
.headerO{
 
    display: flex;
    justify-content: space-between;
    padding: 10px 90px;


}
.imgO{
    display: flex;
    padding: 40px;
    gap: 20px;
    align-items: center;
}
.imgg{

    width: 80px;
    height: 40px;
    


}
.gamerr{
    text-align: center;
    font-family: Work Sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #0B0223;
}
.g{
    color: #FF42A5;
}
.headerO > ul{
    display: flex;
}

.list{
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
    list-style: none;
    padding: 40px;
    gap: 13px;
    list-style: none;
}


.headerO > li > a{
    text-decoration: none;
    color:#3C354F;
}
/* 2nd img */
.banner{
    display: flex;
    justify-content: center;
    gap: 150px;
    background-color: rgb(245, 237, 241);
    margin: 0%;
    
}
.play{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;

}

.goat{

    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.list{
    list-style: none;
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}
.buttonn{

    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 12px;
    font-family: Work Sans;

}
.buttonn > .bb{
    background-color: #FF42A5;
    font-weight: 600;
    border-radius: 40px;
    width: 120px;
    height: 50px;
    color: aliceblue;
    font-size: 1rem;
    margin: 0 #FF42A5;

}

.buttonn > .bbb{
    background-color: #4EC5F7;
    font-weight: 600;
    border-radius: 40px;
    width: 120px;
    height: 50px;
    color: aliceblue;
    font-size: 1rem;
    margin: 0  #4EC5F7;



}