.header{
    background-color: none;
    width: 1920px;
    align-items: end;
    margin: 0%;
    padding: 0px;

}
.headerO{
 
    display: flex;
    justify-content: space-between;
    padding: 10px 90px;


}
.imgO{
    display: flex;
    padding: 40px;
    gap: 20px;
    align-items: center;
}
.imgg{

    width: 80px;
    height: 40px;
    


}
.gamerr{
    text-align: center;
    font-family: Work Sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #0B0223;
}
.g{
    color: #FF42A5;
}
.headerO > ul{
    display: flex;
}

.list{
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
    list-style: none;
    padding: 40px;
    gap: 18px;
    list-style-type: none;
}
.icons{
    display: flex;
    position: relative;
    gap: 8px;
    
    height: 45px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.headerO > li > a{
    text-decoration: none;
    color:#3C354F;
}
/* 2nd img */
.banner{
    display: flex;
    justify-content: center;
    gap: 150px;
    background-color: rgb(245, 237, 241);
    margin: 0%;
    
}
.play{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;

}

.goat{

    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.listt{
    list-style: none;
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;


}
.s{
    display: flex;
}
.ss{
    display: flex;
}
.sss{
    display: flex;
}
.buttonn{

    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 12px;
    font-family: Work Sans;

}
.buttonn > .bb{
    background-color: #FF42A5;
    font-weight: 600;
    border-radius: 40px;
    width: 120px;
    height: 50px;
    color: aliceblue;
    font-size: 1rem;
    margin: 0 #FF42A5;

}

.buttonn > .bbb{
    background-color: #4EC5F7;
    font-weight: 600;
    border-radius: 40px;
    width: 120px;
    height: 50px;
    color: aliceblue;
    font-size: 1rem;
    margin: 0  #4EC5F7;
}
/* main */

.main-content{
    width: auto;
    display: flex;
    justify-content: center;
    gap: 1.7rem;
    margin: 0%;
    background-color: rgb(246, 239, 245);


}
.gamer-h{

    text-align: right;
    font-family: Work Sans;
    font-size: 2.45rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    /* color:rgb(201, 94, 201); */
    /* background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%); */
    /* color: linear-gradient(180deg, #F948B2 0%, #8758F1 100%); */
    position: relative;
    left: 170px;
    top: 35px;
}

.para{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    position: relative;
    top: 20px;
}

.main-button{
    display: inline-flex;
    padding: 14px 33px;
    position: relative;
    left: 390px;
    top: 15px;
    margin: 0%;
    color: aliceblue;
    align-items: flex-start;
    gap: 10px;
    border-radius: 30px;
    font-size: 17px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));

}
.new-header{
    gap: 10px;
    position: relative;
    left: 120px;

}
.purpose{
    color: #534C64;
    font-family: Work Sans;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    position: relative;
    top: 20px;
}
.unleash{
    color: #534C64;
    font-family: Work Sans;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    position: relative;
    top: 20px;

}
/* online games */
.online{
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
}


.onlinee{
    color: #0B0223;
    text-align: right;
    font-family: Work Sans;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    
}
.gamess{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


}

.collection{
    display: flex;
    justify-content: center;
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    top : 30px;
    line-height: 30px; /* 166.667% */
    /* padding: 18px 30px; */
}

/* four images */
.four-img{
    display: flex;
    justify-content: center;
    gap: 6px;
    position: relative;
    top: 40px;
}

.imgg{
    text-align: start;

    position: relative;
    top: 10px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  
}

.imggg{
    position: relative;
    top: 10px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;

}
.imgggg{
    position: relative;
    top: 10px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;

}
.hober-img:hober{
    background-color: #0b0717;
}
.imggggg{
    position: relative;
    top: 10px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;

}











/* mobile */
@media screen and (max-width: 576px) {
    .headerO {
        padding: 20px;
        flex-direction: column;
    }

    }

/* tabet */
@media screen and (min-width:576px) and (max-width:960px) {
    .headerO {
        flex-direction: column;
    }
}

    
