.header{
    background-color: none;
    width: 1920px;
    align-items: end;
    margin: 0%;
    padding: 0px;

}
.headerO{
 
    display: flex;
    justify-content: space-between;
    padding: 10px 90px;


}
.imgO{
    display: flex;
    padding: 40px;
    gap: 20px;
    align-items: center;
}
.imgg{

    width: 80px;
    height: 40px;
    


}
.gamerr{
    text-align: center;
    font-family: Work Sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #0B0223;
}
.g{
    color: #FF42A5;
}
.headerO > ul{
    display: flex;
}

.list{
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
    list-style: none;
    padding: 40px;
    gap: 18px;
    list-style-type: none;
}
.icons{
    display: flex;
    position: relative;
    gap: 8px;
    
    height: 32px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.headerO > li > a{
    text-decoration: none;
    color:#3C354F;
}
/* 2nd img */
.banner{
    display: flex;
    justify-content: center;
    gap: 150px;
    background-color: rgb(245, 237, 241);
    margin: 0%;
    
}
.play{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;

}

.goat{

    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.listt{
    list-style: none;
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;


}
.s{
    display: flex;
}
.ss{
    display: flex;
}
.sss{
    display: flex;
}
.buttonn{

    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 12px;
    font-family: Work Sans;

}
.buttonn > .bb{
    background-color: #FF42A5;
    font-weight: 600;
    border-radius: 40px;
    width: 120px;
    height: 50px;
    color: aliceblue;
    font-size: 1rem;
    margin: 0 #FF42A5;

}

.buttonn > .bbb{
    background-color: #4EC5F7;
    font-weight: 600;
    border-radius: 40px;
    width: 120px;
    height: 50px;
    color: aliceblue;
    font-size: 1rem;
    margin: 0  #4EC5F7;
}
/* main */

.main-content{
    width: auto;
    display: flex;
    justify-content: center;
    gap: 1.7rem;
    margin: 0%;
    background-color: rgb(246, 239, 245);


}
.gamer-h{

    text-align: right;
    font-family: Work Sans;
    font-size: 2.45rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    /* color:rgb(201, 94, 201); */
    /* background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%); */
    /* color: linear-gradient(180deg, #F948B2 0%, #8758F1 100%); */
    position: relative;
    left: 170px;
    top: 35px;
}

.para{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    position: relative;
    top: 20px;
}

.main-button{
    display: inline-flex;
    padding: 14px 33px;
    position: relative;
    left: 390px;
    top: 15px;
    margin: 0%;
    color: aliceblue;
    align-items: flex-start;
    gap: 10px;
    border-radius: 30px;
    font-size: 17px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));

}
.new-header{
    gap: 10px;
    position: relative;
    left: 120px;

}
.purpose{
    color: #534C64;
    font-family: Work Sans;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    position: relative;
    top: 20px;
}
.unleash{
    color: #534C64;
    font-family: Work Sans;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    position: relative;
    top: 20px;

}
/* online games */
.online{
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
}


.onlinee{
    color: #0B0223;
    text-align: right;
    font-family: Work Sans;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    
}
.gamess{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


}

.collection{
    display: flex;
    justify-content: center;
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    top : 30px;
    line-height: 30px; /* 166.667% */
    /* padding: 18px 30px; */
}

/* four images */
.four-img{
    display: flex;
    justify-content: center;
    gap: 6px;
    position: relative;
    top: 40px;
}

.imgg{
    text-align: start;

    position: relative;
    top: 10px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  
}

.imggg{
    position: relative;
    top: 10px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;

}
.imgggg{
    position: relative;
    top: 10px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;

}
.hober-img:hober{
    background-color: #0b0717;
}
.imggggg{
    position: relative;
    top: 10px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;

}

/* overlay images */
.overlayy{
    display: flex;
    justify-content: center;
    position: relative;
    top: 40px;
    gap: 25px;
}
.free-download{
    display: flex;

    justify-content: center;
    position: relative;
    left: 320px;
    top:90px;
}
.oneline{
    text-align: left;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
}
.instant{

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.angela-para{
    position: relative;
    top:310px;
    right: 50px;
    text-align: left;
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}



.two-img{
    padding: 70px 60px;
}

.angela{
    position: relative;
    bottom: 260px;
    right: 160px
    /* padding: 360px 460px; */
}
/* 2nd overlayyyyyyyyy */
.girl{
    position: relative;
    bottom: 260px;
    left: 550px;
}

.anywhere{
    display: flex;
    align-items: center;
    position: relative;
    bottom: 1020px;
    left: 990px;
}
.girl-para{
    display: flex;
    align-items: center;
    position: relative;
    bottom: 1050px;
    left: 960px;
    text-align: end;
    text-align: left;
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}



.two-line{
    text-align: left;
    font-family: Work Sans;
    font-size: 39px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */

}
.instantt{
    font-size: 39px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

/* icons */
.all-icons{
    position: relative;
    bottom: 390px;
    color: rgb(34, 26, 26);
    /* border-radius: 10px;
    width: 270px; */
    height: 430px;
    

    display: grid;
    grid-template-columns: repeat(5, 2fr) ;
    justify-content: center;
    gap : 15px;
    align-items: center;
    background-color: rgb(242, 235, 242);
}


/* footer */

.my-footer{
    width: 1920px;
    height: 636px;
    flex-shrink: 0;
    background: #0c0c0c;
    position: relative;
    top: -10px;
 
}

.my-footer.imgO{
    display: flex;
    padding: 40px;
    gap: 20px;
    align-items: center;
}
.my-footer.gamerr{
    text-align: center;
    font-family: Work Sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #f1eeee;
}
.gamerr{
    color: white;
}
.my-footer.g{
    color: #FF42A5;
}
.imgO{
    display: flex;
    align-items: center;
    position: relative;
    left: 640px;
    top: 100px;
}
.story{
    color: #fbf7f9;
    display: flex;
    padding: 70px 550px 340px 550px;
    gap: 14px;
    list-style: none;

}

.old-icons{
    display: flex;
    align-items: center;
    color: #f8f5f5;
    position: relative;
    bottom: 320px;
    size: 20px;

    left: 680px;
    gap: 15px;

}   

.sesh-list{

    display: flex;
    align-items: center;
    color: #f8f5f5;
    position: relative;
    bottom: 320px;
    size: 20px;
    list-style-type: none;
    left: 540px;
    gap: 15px;
}
.sesh-p{
    
    display: flex;
    align-items: center;
    color: #f8f5f5;
    position: relative;
    bottom: 320px;
    size: 20px;
    left: 590px;
    gap: 15px;
}











/* mobile */
@media screen and (max-width: 576px) {
    .headerO {
        padding: 20px;
        flex-direction: column;
    }
}

/* tabet */
@media screen and (min-width:576px) and (max-width:960px) {
    .headerO {
        flex-direction: column;
    }
}

    
